@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In the Miniproject007 I have used classes and HTML controls to understand how they works, but I didn't use database.<br>
    Used HTML controls:
    <ul>
        <li>textbox</li>
        <li>select</li>
        <li>radio</li>
        <li>checkbox - with one value and with multiple values</li>
    </ul>
</div>
