

<h1>Textbox</h1>
<div class="row">
    @if (ViewBag.Name == null)
    {
        <form method="post" asp-controller="Home" asp-action="PageTextbox">
            <input type="text" name="name" id="name" class="col-2" />
            <input type="submit" value="Send" class="col-1" />
        </form>
    }
    else
    {
        <label>Witaj @ViewBag.Name</label>
        <a asp-controller="Home" asp-action="PageTextbox">Back</a>
    }
</div>